$themes: (
  light:(
    //字体颜色
    font_color:#1f2225,
    //背景
    background_color: #fff,
   
  ),
  dark: (
    font_color: #fff,
    background_color: #1f2225,
   
  ),
  blue: (
    font_color: rgb(64, 158, 255),
    background_color: #fff,
  
  ),
  candy: (
    font_color: rgb(227, 173, 202),
    background_color: #fff,
    
  )
)
